.title {
	margin-top: 140px;
}

.titleStyle {
	color: white;
}

.instructions {
	margin-top: 40px;

}

.playButton {
	margin-top: 40px;


}

.green {
	background-image: url('../images/blackJackBG.png');
	height: 800px;
	text-align: center;
}

p {
	color:white;
}
li {
	color: white;
	margin-top: 10px;
	list-style: none;
}

}